* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

p,
a {
  padding: 0;
  margin: 0;
  border: 0;

  text-decoration: none;
}
.titleHeader {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 42px;

  background: rgb(19, 23, 34);

  &__left {
    display: flex;
    align-items: center;
    flex: 1 1;

    min-width: 900px;

    .imgLogo {
      height: 38px;
      margin-left: 10px;
    }
    .dayTime {
      display: flex;
      align-items: center;

      &__time {
        display: inline-block;

        font-size: 12.8px;
        font-weight: 700;
        line-height: 21px;
        quotes: auto;
        vertical-align: middle;

        margin-left: 15px;
        color: #f7941d;
      }
      &__date {
        margin-left: 5px;
        margin-right: 5px;

        color: #f09d38;

        display: inline-block;

        font-size: 12.8px;
        line-height: 21px;
      }

      .nav {
        position: relative;

        display: inline-block;

        padding-left: 5px;
        margin-left: 15px;

        color: #eee;

        cursor: pointer;

        font-size: 12.8px;
        font-weight: 700;
        line-height: 25px;
        list-style: none;
        text-decoration: none;

        &::before {
          content: "";

          position: absolute;
          top: 50%;
          left: -7px;

          height: 23px;

          border-left: 1px solid #333232;

          transform: translateY(-50%);
        }
      }
      .revenue {
        font-weight: 500;

        color: #f7941d;
      }
      .nav--checked {
        color: #f7941d;
      }
    }

    .titleHeader__middle--color {
      display: flex;
      align-items: center;

      margin-left: 75px;
      padding: 2px 10px;
      border-radius: 3px;

      background-color: #97037f;
      color: #fff;

      font-size: 12.8px;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    .iconTop {
      font-size: 0.75rem;
      margin-right: 5px;
    }
  }
  position: relative;
  &__right {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    right: 0;
    top: 5px;

    color: rgb(255, 255, 255);

    min-width: 600px;
    .version {
      display: flex;
      align-items: center;

      height: 28px;
      padding: 2px 8px;
      margin-right: 15px;

      border: 1px solid #f7941d;
      border-radius: 5px;

      font-size: 12.8px;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase;
    }
    .upgrade__user {
      font-size: 12.8px;

      border-radius: 5px;

      display: flex;

      margin-right: 15px;
      padding: 3px 10px;

      background-color: rgb(245, 147, 30);
    }
    .user {
      display: flex;
      align-items: center;

      padding-right: 5px;

      position: relative;

      font-size: 0.8rem;

      .icon-user {
        color: white;

        margin-right: 8px;
      }
      .user__name {
        quotes: auto;

        font-size: 13.44px;
        text-align: right;
        text-decoration: none;
      }
      .down {
        margin-left: 5px;
        margin-right: 5px;
      }
      .user__logout {
        display: none;
        justify-content: flex-end;
        align-items: center;

        width: 100%;
        height: 40px;

        padding-right: 20px;

        position: absolute;
        z-index: 100;
        top: 100%;

        background: rgb(19, 23, 34);

        cursor: pointer;

        &:hover {
          color: rgb(245, 147, 30);
        }
        .fa-sign-out {
          margin-right: 5px;
        }
      }
      &:hover .user__logout {
        display: flex;
      }
    }
  }
}
.main {
  display: grid;
  grid-template-columns: 1fr 398px;

  background: rgb(19, 23, 34);

  height: calc(100vh - 42px);

  &__left {
    display: grid;
    grid-template-columns: 1fr 348px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;

    .historydeal {
      background: #2f3240;

      overflow-y: auto;
      overflow-x: hidden;

      height: 100%;

      position: relative;
      &::-webkit-scrollbar {
        display: none;
      }
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

        list-style: none;

        padding: 4px;
        border-bottom: 1px solid #3a3a3a;

        font-size: 0.9rem;

        color: #ffff;
        li {
          line-height: 20px;
          p {
            font-weight: 700;
            font-size: 16px;
          }
          span {
            font-size: 12.8px;
          }
          span:nth-child(1) {
            font-size: 0.8rem;
          }
          .san {
            color: #00c5c5;
          }
          .tran {
            color: #ff25ff;
          }
          .tc {
            color: #ffd900;
          }
        }
      }
      &__title-row {
        display: flex;
        justify-content: space-around;

        .price {
          color: #f7941d;

          text-decoration: none;
          font-size: 12.8px;
          font-weight: 700;

          padding: 5px 0;

          cursor: pointer;
        }
        .historyData {
          color: #ffffff;

          padding: 5px 0;

          font-size: 12.8px;

          cursor: pointer;
        }
      }

      &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        background-color: #3a3d48;
        color: #eee;

        padding: 8px;

        &--buy {
          display: flex;
          justify-content: space-around;

          font-size: 0.75rem;
          text-align: center;

          width: 100%;

          border-right: 1px solid rgb(63, 61, 61);
        }
        &--sell {
          display: flex;
          justify-content: space-around;

          font-size: 0.75rem;
          text-align: center;

          width: 100%;
        }
      }
      &__row--data {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100px;

        height: 100%;

        overflow: auto;

        &--buy--data {
          font-size: 13px;
          text-align: center;

          width: 100%;

          border-right: 1px solid rgb(68, 66, 66);
          border-bottom: 1px solid #444444;

          .buy-kl {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;

            p {
              flex: 1;

              width: 100%;

              padding: 5px;

              text-align: center;

              color: #eee;

              position: relative;
              &:last-child::after {
                content: "";

                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;

                width: 50%;

                background-color: #aeb1bd;
                opacity: 0.3;
              }
              &:last-child {
                color: rgb(230, 99, 99);
              }
            }
          }
        }
        &--sell--data {
          font-size: 13px;
          text-align: center;

          width: 100%;
          .sell-price {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            p {
              flex: 1;

              width: 100%;
              padding: 5px;

              text-align: center;

              color: #eee;

              position: relative;

              &:first-child {
                color: #0f0;
              }
              &:first-child::after {
                content: "";

                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;

                width: 50%;

                background-color: #aeb1bd;

                opacity: 0.3;
              }
            }
          }
        }
      }
    }

    .listDataDeal {
      display: flex;
      flex-direction: column;
      background: #2f3240;

      height: 100%;
      .wrap1 {
        height: 90%;
        .listDataDeal__title {
          display: grid;
          grid-template-columns: repeat(5, 1fr);

          padding: 5px;

          color: #ffff;
          background: #3a3d48;

          font-size: 12.8px;
          text-align: center;
        }
        .listDataDeal__data {
          display: grid;
          grid-template-columns: repeat(5, 1fr);

          padding: 5px;

          color: #0f0;

          text-align: center;
          font-size: 12.8px;
          .colorffff {
            color: #ffffff;
          }
        }
        .listDataDeal__data--gray {
          background-color: #3a3d48;
        }
      }
    }
    .testaaa {
      overflow: hidden;

      display: flex;
      flex-direction: column;
      height: 100%;
      .tradingview-widget-container {
        height: 90%;
      }
      .version {
        width: 100%;
        height: 10%;

        font-size: 0.8rem;

        display: flex;
        align-items: center;
        justify-content: space-around;

        color: #eee;
        .clone {
          width: 50%;
        }
        &--vnd {
          display: flex;
          align-items: center;

          width: auto;
          padding: 7px;

          position: fixed;
          left: 0;
          bottom: 2;
          z-index: 20;

          background-color: #131722;
        }
        .chart-icon {
          width: 400px;

          display: flex;
          justify-content: space-around;

          p {
            font-size: 12.8px;
          }
          i {
            font-size: 20px;
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;

    color: white;

    .data1 {
      background-color: #2f3240;
      color: #fff;

      flex-grow: 1;

      font-size: 12.8px;
      line-height: 21.3333px;

      margin: 1px;
      #datachangeasset {
        .title-header {
          display: flex;
          justify-content: space-between;

          padding: 7px 5px;

          background-color: rgb(58, 61, 72);
          p {
            color: #f7941d;
            font-weight: 700;
          }
          .list-icons {
            color: #f7941d;
          }
        }
        .title-group {
          display: flex;
          justify-content: space-between;
          align-items: center;

          font-size: 12.8px;

          padding: 5px;
          border-bottom: 1px solid rgb(59, 59, 59);
        }
      }

      .datachangeorderBook {
        display: none;
        .title-header {
          display: flex;
          justify-content: space-around;
          p {
            text-align: center;
            font-size: 12px;

            padding: 5px;
          }
          .comeinandDay {
            color: #f7941d;

            font-weight: 700;

            cursor: pointer;
          }
          .conditionalOrder {
            cursor: pointer;
          }
          &__icon {
            color: #f7941d;
          }
        }
        .title-table {
          display: flex;

          width: 100%;

          padding: 8px;

          background-color: #3a3d48;

          p {
            text-align: center;
            font-weight: 700;
            &:nth-child(1) {
              width: 15%;
            }
            &:nth-child(2) {
              width: 20%;
            }
            &:nth-child(3) {
              width: 15%;
            }
            &:nth-child(4) {
              width: 20%;
            }
          }
        }
        .data-show {
          &__detail {
            display: flex;

            padding: 8px;
            p {
              text-align: center;

              &:nth-child(1) {
                width: 15%;
              }
              &:nth-child(2) {
                width: 20%;
              }
              &:nth-child(3) {
                width: 15%;
              }
              &:nth-child(4) {
                width: 20%;
              }
              &:nth-child(5) {
                color: red;
              }
            }
            &:nth-child(2n) {
              background-color: #3a3d48;
            }
          }
        }
      }
      .datachangeMenu {
        display: none;
        .title-header {
          display: flex;
          justify-content: space-around;
          p {
            text-align: center;
            font-size: 12px;

            padding: 5px;
          }
          .comeinandDay {
            color: #f7941d;

            font-weight: 700;

            cursor: pointer;
          }
          .conditionalOrder {
            cursor: pointer;
          }
          &__icon {
            color: #f7941d;
          }
        }
        .title-table {
          display: flex;

          width: 100%;

          padding: 8px;

          background-color: #3a3d48;

          p {
            text-align: center;
            font-weight: 700;
            &:nth-child(1) {
              width: 15%;
            }
            &:nth-child(2) {
              width: 20%;
            }
            &:nth-child(3) {
              width: 15%;
            }
            &:nth-child(4) {
              width: 30%;
            }
          }
        }
        .data-show {
          &__detail {
            display: flex;

            padding: 8px;
            p {
              text-align: center;

              &:nth-child(1) {
                width: 15%;
              }
              &:nth-child(2) {
                width: 20%;
              }
              &:nth-child(3) {
                width: 15%;
              }
              &:nth-child(4) {
                width: 30%;
              }
              &:nth-child(5) {
                color: red;
              }
            }
            &:nth-child(2n) {
              background-color: #3a3d48;
            }
          }
        }
      }
    }
    .data2 {
      background: rgb(47, 50, 64);

      padding-left: 15px;
      padding-right: 15px;
      margin: 1px;

      .select-check {
        padding-top: 15px;
        ul {
          list-style: none;

          display: flex;
          justify-content: space-between;

          li {
            display: flex;
            align-items: center;

            font-size: 0.9rem;
            input {
              margin-right: 3px;
            }

            label {
              font-size: 12.8px;
            }
          }
        }
      }

      .form {
        margin-top: 15px;

        .form-group {
          display: flex;
          align-items: center;

          margin-top: 10px;
          .label-title {
            flex: 1;

            font-size: 12.8px;
          }
          .input-value {
            padding: 8px;
            flex: 2;

            border-radius: 5px;
            border: none;
          }
          .button {
            display: flex;
            align-items: center;
            justify-content: center;

            border: none;
            border-radius: 5px;

            padding: 10px;

            width: 110px;
            height: 30px;

            text-transform: uppercase;
            font-weight: 700;

            color: rgb(255, 255, 255);
          }
          .button--green {
            background: green;
          }
          .button--red {
            background: red;

            margin: 0 10px 0 10px;
          }
          .saveCommand {
            font-size: 14px;
          }
        }
      }
      .form-group--flexend {
        justify-content: flex-end;

        margin-bottom: 50px;
      }
    }
  }
}
main {
  .footer {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 30;
    width: 396px;

    ul {
      display: flex;
      justify-content: space-between;

      list-style: none;

      font-size: 0.8rem;
      background-color: #131722;
      li {
        padding: 7px;
        color: #fff;
        display: inline-block;

        text-align: center;

        width: 100%;
        &:nth-of-type(3) {
          background-color: #2f3240;
          color: #ed8f21;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main__right {
    display: none;
  }
  .main {
    grid-template-columns: 1fr;
  }
}
