* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

p,
a {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}

.titleHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 42px;
  background: #131722;
  position: relative;
}
.titleHeader__left {
  display: flex;
  align-items: center;
  flex: 1 1;
  min-width: 900px;
}
.titleHeader__left .imgLogo {
  height: 38px;
  margin-left: 10px;
}
.titleHeader__left .dayTime {
  display: flex;
  align-items: center;
}
.titleHeader__left .dayTime__time {
  display: inline-block;
  font-size: 12.8px;
  font-weight: 700;
  line-height: 21px;
  quotes: auto;
  vertical-align: middle;
  margin-left: 15px;
  color: #f7941d;
}
.titleHeader__left .dayTime__date {
  margin-left: 5px;
  margin-right: 5px;
  color: #f09d38;
  display: inline-block;
  font-size: 12.8px;
  line-height: 21px;
}
.titleHeader__left .dayTime .nav {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  margin-left: 15px;
  color: #eee;
  cursor: pointer;
  font-size: 12.8px;
  font-weight: 700;
  line-height: 25px;
  list-style: none;
  text-decoration: none;
}
.titleHeader__left .dayTime .nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -7px;
  height: 23px;
  border-left: 1px solid #333232;
  transform: translateY(-50%);
}
.titleHeader__left .dayTime .revenue {
  font-weight: 500;
  color: #f7941d;
}
.titleHeader__left .dayTime .nav--checked {
  color: #f7941d;
}
.titleHeader__left .titleHeader__middle--color {
  display: flex;
  align-items: center;
  margin-left: 75px;
  padding: 2px 10px;
  border-radius: 3px;
  background-color: #97037f;
  color: #fff;
  font-size: 12.8px;
}
@media screen and (max-width: 1024px) {
  .titleHeader__left .titleHeader__middle--color {
    display: none;
  }
}
.titleHeader__left .iconTop {
  font-size: 0.75rem;
  margin-right: 5px;
}
.titleHeader__right {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 5px;
  color: white;
  min-width: 600px;
}
.titleHeader__right .version {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 2px 8px;
  margin-right: 15px;
  border: 1px solid #f7941d;
  border-radius: 5px;
  font-size: 12.8px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.titleHeader__right .upgrade__user {
  font-size: 12.8px;
  border-radius: 5px;
  display: flex;
  margin-right: 15px;
  padding: 3px 10px;
  background-color: #f5931e;
}
.titleHeader__right .user {
  display: flex;
  align-items: center;
  padding-right: 5px;
  position: relative;
  font-size: 0.8rem;
}
.titleHeader__right .user .icon-user {
  color: white;
  margin-right: 8px;
}
.titleHeader__right .user .user__name {
  quotes: auto;
  font-size: 13.44px;
  text-align: right;
  text-decoration: none;
}
.titleHeader__right .user .down {
  margin-left: 5px;
  margin-right: 5px;
}
.titleHeader__right .user .user__logout {
  display: none;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-right: 20px;
  position: absolute;
  z-index: 100;
  top: 100%;
  background: #131722;
  cursor: pointer;
}
.titleHeader__right .user .user__logout:hover {
  color: #f5931e;
}
.titleHeader__right .user .user__logout .fa-sign-out {
  margin-right: 5px;
}
.titleHeader__right .user:hover .user__logout {
  display: flex;
}

.main {
  display: grid;
  grid-template-columns: 1fr 398px;
  background: #131722;
  height: calc(100vh - 42px);
}
.main__left {
  display: grid;
  grid-template-columns: 1fr 348px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
}
@media screen and (max-width: 1024px) {
  .main__left {
    grid-template-columns: 1fr 396px;
  }
}
.main__left .historydeal {
  background: #2f3240;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}
.main__left .historydeal::-webkit-scrollbar {
  display: none;
}
.main__left .historydeal ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 4px;
  border-bottom: 1px solid #3a3a3a;
  font-size: 0.9rem;
  color: #ffff;
}
.main__left .historydeal ul li {
  line-height: 20px;
}
.main__left .historydeal ul li p {
  font-weight: 700;
  font-size: 16px;
}
.main__left .historydeal ul li span {
  font-size: 12.8px;
}
.main__left .historydeal ul li span:nth-child(1) {
  font-size: 0.8rem;
}
.main__left .historydeal ul li .san {
  color: #00c5c5;
}
.main__left .historydeal ul li .tran {
  color: #ff25ff;
}
.main__left .historydeal ul li .tc {
  color: #ffd900;
}
.main__left .historydeal__title-row {
  display: flex;
  justify-content: space-around;
}
.main__left .historydeal__title-row .price {
  color: #f7941d;
  text-decoration: none;
  font-size: 12.8px;
  font-weight: 700;
  padding: 5px 0;
  cursor: pointer;
}
.main__left .historydeal__title-row .historyData {
  color: #ffffff;
  padding: 5px 0;
  font-size: 12.8px;
  cursor: pointer;
}
.main__left .historydeal__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #3a3d48;
  color: #eee;
  padding: 8px;
}
.main__left .historydeal__row--buy {
  display: flex;
  justify-content: space-around;
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  border-right: 1px solid #3f3d3d;
}
.main__left .historydeal__row--sell {
  display: flex;
  justify-content: space-around;
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
}
.main__left .historydeal__row--data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100px;
  height: 100%;
  overflow: auto;
}
.main__left .historydeal__row--data--buy--data {
  font-size: 13px;
  text-align: center;
  width: 100%;
  border-right: 1px solid #444242;
  border-bottom: 1px solid #444444;
}
.main__left .historydeal__row--data--buy--data .buy-kl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main__left .historydeal__row--data--buy--data .buy-kl p {
  flex: 1;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #eee;
  position: relative;
}
.main__left .historydeal__row--data--buy--data .buy-kl p:last-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #aeb1bd;
  opacity: 0.3;
}
.main__left .historydeal__row--data--buy--data .buy-kl p:last-child {
  color: #e66363;
}
.main__left .historydeal__row--data--sell--data {
  font-size: 13px;
  text-align: center;
  width: 100%;
}
.main__left .historydeal__row--data--sell--data .sell-price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__left .historydeal__row--data--sell--data .sell-price p {
  flex: 1;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #eee;
  position: relative;
}
.main__left .historydeal__row--data--sell--data .sell-price p:first-child {
  color: #0f0;
}
.main__left .historydeal__row--data--sell--data .sell-price p:first-child::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #aeb1bd;
  opacity: 0.3;
}
.main__left .listDataDeal {
  display: flex;
  flex-direction: column;
  background: #2f3240;
  height: 100%;
}
.main__left .listDataDeal .wrap1 {
  height: 90%;
}
.main__left .listDataDeal .wrap1 .listDataDeal__title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 5px;
  color: #ffff;
  background: #3a3d48;
  font-size: 12.8px;
  text-align: center;
}
.main__left .listDataDeal .wrap1 .listDataDeal__data {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 5px;
  color: #0f0;
  text-align: center;
  font-size: 12.8px;
}
.main__left .listDataDeal .wrap1 .listDataDeal__data .colorffff {
  color: #ffffff;
}
.main__left .listDataDeal .wrap1 .listDataDeal__data--gray {
  background-color: #3a3d48;
}
.main__left .testaaa {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main__left .testaaa .tradingview-widget-container {
  height: 90%;
}
.main__left .testaaa .version {
  width: 100%;
  height: 10%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #eee;
}
.main__left .testaaa .version .clone {
  width: 50%;
}
.main__left .testaaa .version--vnd {
  display: flex;
  align-items: center;
  width: auto;
  padding: 7px;
  position: fixed;
  left: 0;
  bottom: 2;
  z-index: 20;
  background-color: #131722;
}
.main__left .testaaa .version .chart-icon {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.main__left .testaaa .version .chart-icon p {
  font-size: 12.8px;
}
.main__left .testaaa .version .chart-icon i {
  font-size: 20px;
}
.main__right {
  display: flex;
  flex-direction: column;
  color: white;
}
.main__right .data1 {
  background-color: #2f3240;
  color: #fff;
  flex-grow: 1;
  font-size: 12.8px;
  line-height: 21.3333px;
  margin: 1px;
}
.main__right .data1 #datachangeasset .title-header {
  display: flex;
  justify-content: space-between;
  padding: 7px 5px;
  background-color: #3a3d48;
}
.main__right .data1 #datachangeasset .title-header p {
  color: #f7941d;
  font-weight: 700;
}
.main__right .data1 #datachangeasset .title-header .list-icons {
  color: #f7941d;
}
.main__right .data1 #datachangeasset .title-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12.8px;
  padding: 5px;
  border-bottom: 1px solid #3b3b3b;
}
.main__right .data1 .datachangeorderBook {
  display: none;
}
.main__right .data1 .datachangeorderBook .title-header {
  display: flex;
  justify-content: space-around;
}
.main__right .data1 .datachangeorderBook .title-header p {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}
.main__right .data1 .datachangeorderBook .title-header .comeinandDay {
  color: #f7941d;
  font-weight: 700;
  cursor: pointer;
}
.main__right .data1 .datachangeorderBook .title-header .conditionalOrder {
  cursor: pointer;
}
.main__right .data1 .datachangeorderBook .title-header__icon {
  color: #f7941d;
}
.main__right .data1 .datachangeorderBook .title-table {
  display: flex;
  width: 100%;
  padding: 8px;
  background-color: #3a3d48;
}
.main__right .data1 .datachangeorderBook .title-table p {
  text-align: center;
  font-weight: 700;
}
.main__right .data1 .datachangeorderBook .title-table p:nth-child(1) {
  width: 15%;
}
.main__right .data1 .datachangeorderBook .title-table p:nth-child(2) {
  width: 20%;
}
.main__right .data1 .datachangeorderBook .title-table p:nth-child(3) {
  width: 15%;
}
.main__right .data1 .datachangeorderBook .title-table p:nth-child(4) {
  width: 20%;
}
.main__right .data1 .datachangeorderBook .data-show__detail {
  display: flex;
  padding: 8px;
}
.main__right .data1 .datachangeorderBook .data-show__detail p {
  text-align: center;
}
.main__right .data1 .datachangeorderBook .data-show__detail p:nth-child(1) {
  width: 15%;
}
.main__right .data1 .datachangeorderBook .data-show__detail p:nth-child(2) {
  width: 20%;
}
.main__right .data1 .datachangeorderBook .data-show__detail p:nth-child(3) {
  width: 15%;
}
.main__right .data1 .datachangeorderBook .data-show__detail p:nth-child(4) {
  width: 20%;
}
.main__right .data1 .datachangeorderBook .data-show__detail p:nth-child(5) {
  color: red;
}
.main__right .data1 .datachangeorderBook .data-show__detail:nth-child(2n) {
  background-color: #3a3d48;
}
.main__right .data1 .datachangeMenu {
  display: none;
}
.main__right .data1 .datachangeMenu .title-header {
  display: flex;
  justify-content: space-around;
}
.main__right .data1 .datachangeMenu .title-header p {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}
.main__right .data1 .datachangeMenu .title-header .comeinandDay {
  color: #f7941d;
  font-weight: 700;
  cursor: pointer;
}
.main__right .data1 .datachangeMenu .title-header .conditionalOrder {
  cursor: pointer;
}
.main__right .data1 .datachangeMenu .title-header__icon {
  color: #f7941d;
}
.main__right .data1 .datachangeMenu .title-table {
  display: flex;
  width: 100%;
  padding: 8px;
  background-color: #3a3d48;
}
.main__right .data1 .datachangeMenu .title-table p {
  text-align: center;
  font-weight: 700;
}
.main__right .data1 .datachangeMenu .title-table p:nth-child(1) {
  width: 15%;
}
.main__right .data1 .datachangeMenu .title-table p:nth-child(2) {
  width: 20%;
}
.main__right .data1 .datachangeMenu .title-table p:nth-child(3) {
  width: 15%;
}
.main__right .data1 .datachangeMenu .title-table p:nth-child(4) {
  width: 30%;
}
.main__right .data1 .datachangeMenu .data-show__detail {
  display: flex;
  padding: 8px;
}
.main__right .data1 .datachangeMenu .data-show__detail p {
  text-align: center;
}
.main__right .data1 .datachangeMenu .data-show__detail p:nth-child(1) {
  width: 15%;
}
.main__right .data1 .datachangeMenu .data-show__detail p:nth-child(2) {
  width: 20%;
}
.main__right .data1 .datachangeMenu .data-show__detail p:nth-child(3) {
  width: 15%;
}
.main__right .data1 .datachangeMenu .data-show__detail p:nth-child(4) {
  width: 30%;
}
.main__right .data1 .datachangeMenu .data-show__detail p:nth-child(5) {
  color: red;
}
.main__right .data1 .datachangeMenu .data-show__detail:nth-child(2n) {
  background-color: #3a3d48;
}
.main__right .data2 {
  background: #2f3240;
  padding-left: 15px;
  padding-right: 15px;
  margin: 1px;
}
.main__right .data2 .select-check {
  padding-top: 15px;
}
.main__right .data2 .select-check ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.main__right .data2 .select-check ul li {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.main__right .data2 .select-check ul li input {
  margin-right: 3px;
}
.main__right .data2 .select-check ul li label {
  font-size: 12.8px;
}
.main__right .data2 .form {
  margin-top: 15px;
}
.main__right .data2 .form .form-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.main__right .data2 .form .form-group .label-title {
  flex: 1;
  font-size: 12.8px;
}
.main__right .data2 .form .form-group .input-value {
  padding: 8px;
  flex: 2;
  border-radius: 5px;
  border: none;
}
.main__right .data2 .form .form-group .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 110px;
  height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
.main__right .data2 .form .form-group .button--green {
  background: green;
}
.main__right .data2 .form .form-group .button--red {
  background: red;
  margin: 0 10px 0 10px;
}
.main__right .data2 .form .form-group .saveCommand {
  font-size: 14px;
}
.main__right .data2 .form-group--flexend {
  justify-content: flex-end;
  margin-bottom: 50px;
}

main .footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 30;
  width: 396px;
}
@media screen and (max-width: 1024px) {
  main .footer {
    width: 396px;
  }
}
main .footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 0.8rem;
  background-color: #131722;
}
main .footer ul li {
  padding: 7px;
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 100%;
}
main .footer ul li:nth-of-type(3) {
  background-color: #2f3240;
  color: #ed8f21;
}

@media screen and (max-width: 1024px) {
  .main__right {
    display: none;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .footer {
    width: 396px;
  }
}

/*# sourceMappingURL=style.css.map */
